<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="logImpl" value="LOG4J2"/>
        <setting name="cacheEnabled" value="true"/>
        <setting name="lazyLoadingEnabled" value="true"/>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <setting name="useGeneratedKeys" value="true"/>
        <setting name="defaultEnumTypeHandler" value="org.apache.ibatis.type.EnumTypeHandler"/>
    </settings>

    <typeAliases>
        <package name="org.bluett.entity"/>
    </typeAliases>

    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="org.sqlite.JDBC"/>
                <property name="url" value="${dbUrl}"/>
            </dataSource>
        </environment>
    </environments>

    <mappers>
        <mapper url="${mapperUrl}/SettingMapper.xml"/>
        <mapper url="${mapperUrl}/InputOperationMapper.xml"/>
        <mapper url="${mapperUrl}/OperationMapper.xml"/>
        <mapper url="${mapperUrl}/TestSuiteMapper.xml"/>
        <mapper url="${mapperUrl}/TestCaseMapper.xml"/>
        <mapper url="${mapperUrl}/TestTextMapper.xml"/>
        <mapper url="${mapperUrl}/TestImageMapper.xml"/>
    </mappers>
</configuration>