<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.bluett.mapper.InputOperationMapper">
    <cache eviction="LRU" flushInterval="60000" size="512"/>

    <resultMap id="BaseResultMap" type="org.bluett.entity.InputOperationDO">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="operationId" column="operation_id" jdbcType="INTEGER"/>
            <result property="value" column="value" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,operation_id,value
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from input_operation
        where  id = #{id,jdbcType=INTEGER} 
    </select>
    <select id="selectPageByOperationIdList" resultType="org.bluett.entity.InputOperationDO">
        select
        <include refid="Base_Column_List" />
        from input_operation
        where  operation_id in
        <foreach collection="list" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>
    <select id="selectCount" resultType="java.lang.Integer">
        select count(1) from input_operation
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from input_operation
        where  id = #{id,jdbcType=INTEGER} 
    </delete>
    <delete id="deleteByCaseIdList">
        delete from input_operation
        where  operation_id in
        <foreach collection="list" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>
    <delete id="deleteBatch">
        delete from input_operation
        where  id in
        <foreach collection="list" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>
    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="org.bluett.entity.InputOperationDO" useGeneratedKeys="true">
        insert into input_operation
        ( id,operation_id,value
        )
        values (#{id,jdbcType=INTEGER},#{operationId,jdbcType=INTEGER},#{value,jdbcType=VARCHAR}
        )
    </insert>
    <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="org.bluett.entity.InputOperationDO" useGeneratedKeys="true">
        insert into input_operation
        <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="id != null">id,</if>
                <if test="operationId != null">operation_id,</if>
                <if test="value != null">value,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
                <if test="id != null">#{id,jdbcType=INTEGER},</if>
                <if test="operationId != null">#{operationId,jdbcType=INTEGER},</if>
                <if test="value != null">#{value,jdbcType=VARCHAR},</if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="org.bluett.entity.InputOperationDO">
        update input_operation
        <set>
                <if test="operationId != null">
                    operation_id = #{operationId,jdbcType=INTEGER},
                </if>
                <if test="value != null">
                    value = #{value,jdbcType=VARCHAR},
                </if>
        </set>
        where   id = #{id,jdbcType=INTEGER} 
    </update>
    <update id="updateByPrimaryKey" parameterType="org.bluett.entity.InputOperationDO">
        update input_operation
        set 
            operation_id =  #{operationId,jdbcType=INTEGER},
            value =  #{value,jdbcType=VARCHAR}
        where   id = #{id,jdbcType=INTEGER} 
    </update>
</mapper>
