<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.bluett.mapper.SettingMapper">

    <resultMap id="BaseResultMap" type="org.bluett.entity.SettingDO">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="key" column="key" jdbcType="VARCHAR"/>
            <result property="value" column="value" jdbcType="VARCHAR"/>
            <result property="description" column="description" jdbcType="VARCHAR"/>
            <result property="updateDt" column="update_dt" jdbcType="TIMESTAMP"/>
            <result property="createDt" column="create_dt" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,key,value,
        description,update_dt,create_dt
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from setting
        where  id = #{id,jdbcType=INTEGER} 
    </select>
    <select id="selectSettingsByKey" resultType="java.lang.String">
        select value from setting where `key` = #{key}
    </select>
    <select id="selectAll" resultType="org.bluett.entity.SettingDO">
        select
        <include refid="Base_Column_List" />
        from setting
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from setting
        where  id = #{id,jdbcType=INTEGER} 
    </delete>
    <delete id="deleteAll">
        delete from setting
    </delete>
    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="org.bluett.entity.SettingDO" useGeneratedKeys="true">
        insert into setting
        ( key, value
        , description, update_dt, create_dt)
        values ( #{key,jdbcType=VARCHAR}, #{value,jdbcType=VARCHAR}
               , #{description,jdbcType=VARCHAR}, datetime('now', '+8 hour'), datetime('now', '+8 hour'))
    </insert>
    <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="org.bluett.entity.SettingDO" useGeneratedKeys="true">
        insert into setting
        <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="key != null">key,</if>
                <if test="value != null">value,</if>
                <if test="description != null">description,</if>
            update_dt,create_dt,
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
                <if test="key != null">#{key,jdbcType=VARCHAR},</if>
                <if test="value != null">#{value,jdbcType=VARCHAR},</if>
                <if test="description != null">#{description,jdbcType=VARCHAR},</if>
            datetime('now', '+8 hour'),datetime('now', '+8 hour'),
        </trim>
    </insert>
    <insert id="insertAll">
        insert into setting
        ( key,value,description,update_dt,create_dt)
        values
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.key,jdbcType=VARCHAR},#{item.value,jdbcType=VARCHAR},#{item.description,jdbcType=VARCHAR},
            datetime('now', '+8 hour'),datetime('now', '+8 hour'))
        </foreach>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="org.bluett.entity.SettingDO">
        update setting
        <set>
                <if test="key != null">
                    key = #{key,jdbcType=VARCHAR},
                </if>
                <if test="value != null">
                    value = #{value,jdbcType=VARCHAR},
                </if>
                <if test="description != null">
                    description = #{description,jdbcType=VARCHAR},
                </if>
                    update_dt = datetime('now', '+8 hour'),
        </set>
        where   id = #{id,jdbcType=INTEGER} 
    </update>
    <update id="updateByPrimaryKey" parameterType="org.bluett.entity.SettingDO">
        update setting
        set 
            key =  #{key,jdbcType=VARCHAR},
            value =  #{value,jdbcType=VARCHAR},
            description =  #{description,jdbcType=VARCHAR},
            update_dt =  datetime('now', '+8 hour')
        where   id = #{id,jdbcType=INTEGER} 
    </update>
</mapper>
