<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.bluett.mapper.TestCaseMapper">

    <cache eviction="LRU" flushInterval="60000" size="512" readOnly="true"/>

    <select id="selectTestCaseByIds" resultType="testCase">
        select * from test_case where id in 
        <foreach collection="list" item="testCaseId" open="(" separator="," close=")">
            #{testCaseId}
        </foreach>
    </select>

    <select id="selectTestCaseListDynamic" resultType="testCase">
        select * from test_suite
        <where>
            <if test="testCase.id != null">and id=#{testCase.id}</if>
            <if test="testCase.name != null">and name=#{testCase.name}</if>
            <if test="testCase.description != null">and description=#{testCase.description}</if>
            <if test="testCase.status != null">and status=#{testCase.status}</if>
            <if test="testCase.suiteId != null">and suite_id=#{testCase.suiteId}</if>
        </where>
        <if test="page != null">
            limit #{page.startIndex}, #{page.pageSize}
        </if>
    </select>

    <select id="selectTestCaseBySuiteIds" resultType="testCase">
        select * from test_case where suite_id in
        <foreach collection="list" item="suiteId" open="(" separator="," close=")">
            #{suiteId}
        </foreach>
    </select>

    <select id="selectTestCaseListBySuiteId" resultType="testCase">
        select * from test_case
        where suite_id=#{suiteId}
        <if test="page != null">
            limit #{page.startIndex}, #{page.pageSize}
        </if>
    </select>

    <update id="updateById" parameterType="testCase">
        update test_case
        <set>
            <if test="name != null">name=#{name},</if>
            <if test="description != null">description=#{description},</if>
            <if test="priority != null">priority=#{priority},</if>
            <if test="status != null">status=#{status},</if>
            update_time=datetime('now', '+8 hour')
        </set>
        where id=#{id}
    </update>

    <insert id="insert" parameterType="testCase" keyProperty="id" useGeneratedKeys="true">
        insert into test_case(name, description, priority, status, suite_id, create_time, update_time)
        values(#{name}, #{description}, #{priority}, #{status}, #{suiteId}, datetime('now', '+8 hour'), datetime('now', '+8 hour'))
    </insert>

    <insert id="insertBatch">
        insert into test_case(name, description, priority, status, create_time, update_time)
        values
        <foreach collection="list" item="testCase" separator=",">
            (#{testCase.name}, #{testCase.description}, #{testCase.priority}, #{testCase.status}, datetime('now', '+8 hour'), datetime('now', '+8 hour'))
        </foreach>
    </insert>

    <delete id="deleteById">
        delete from test_case where id=#{id}
    </delete>

    <delete id="deleteByIds">
        delete from test_case where id in
        <foreach collection="list" item="testCaseId" open="(" separator="," close=")">
            #{testCaseId}
        </foreach>
    </delete>
</mapper>