<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.bluett.mapper.TestSuiteMapper">

    <cache eviction="LRU" flushInterval="60000" size="512" readOnly="true"/>

    <resultMap id="BaseResultMap" type="org.bluett.entity.TestSuite">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="runTime" column="run_time" jdbcType="INTEGER"/>
            <result property="timeout" column="timeout" jdbcType="INTEGER"/>
            <result property="status" column="status" jdbcType="INTEGER"/>
            <result property="description" column="description" jdbcType="VARCHAR"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,name,run_time,
        timeout,status,description,
        update_time,create_time
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from test_suite
        where  id = #{id,jdbcType=INTEGER} 
    </select>
    <select id="selectTestSuiteList" resultType="org.bluett.entity.TestSuite">
        select
        <include refid="Base_Column_List"/>
        from test_suite
        <where>
            <if test="testSuite.id != null">and id = #{testSuite.id}</if>
            <if test="testSuite.name != null">and name = #{testSuite.name}</if>
            <if test="testSuite.runTime != null">and run_time = #{testSuite.runTime}</if>
            <if test="testSuite.timeout != null">and timeout = #{testSuite.timeout}</if>
            <if test="testSuite.status != null">and status = #{testSuite.status}</if>
            <if test="testSuite.description != null">and description = #{testSuite.description}</if>
            <if test="testSuite.updateTime != null">and update_time = #{testSuite.updateTime}</if>
            <if test="testSuite.createTime != null">and create_time = #{testSuite.createTime}</if>
        </where>
        <if test="page != null">
            limit #{page.pageNum},#{page.pageSize}
        </if>
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from test_suite
        where  id = #{id,jdbcType=INTEGER} 
    </delete>
    <delete id="deleteByIds">
        delete from test_suite
        where id in
        <foreach collection="list" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="org.bluett.entity.TestSuite" useGeneratedKeys="true">
        insert into test_suite
        ( name,run_time
        ,timeout,status,description
        ,update_time,create_time)
        values (#{name,jdbcType=VARCHAR},#{runTime,jdbcType=INTEGER}
        ,#{timeout,jdbcType=INTEGER},#{status,jdbcType=INTEGER},#{description,jdbcType=VARCHAR}
        ,datetime('now', '+8 hour'),datetime('now', '+8 hour'))
    </insert>
    <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="org.bluett.entity.TestSuite" useGeneratedKeys="true">
        insert into test_suite
        <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="name != null">name,</if>
                <if test="runTime != null">run_time,</if>
                <if test="timeout != null">timeout,</if>
                <if test="status != null">status,</if>
                <if test="description != null">description,</if>
                update_time,create_time,
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
                <if test="name != null">#{name,jdbcType=VARCHAR},</if>
                <if test="runTime != null">#{runTime,jdbcType=INTEGER},</if>
                <if test="timeout != null">#{timeout,jdbcType=INTEGER},</if>
                <if test="status != null">#{status,jdbcType=INTEGER},</if>
                <if test="description != null">#{description,jdbcType=VARCHAR},</if>
                datetime('now', '+8 hour'),datetime('now', '+8 hour'),
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="org.bluett.entity.TestSuite">
        update test_suite
        <set>
                <if test="name != null">
                    name = #{name,jdbcType=VARCHAR},
                </if>
                <if test="runTime != null">
                    run_time = #{runTime,jdbcType=INTEGER},
                </if>
                <if test="timeout != null">
                    timeout = #{timeout,jdbcType=INTEGER},
                </if>
                <if test="status != null">
                    status = #{status,jdbcType=INTEGER},
                </if>
                <if test="description != null">
                    description = #{description,jdbcType=VARCHAR},
                </if>
                    update_time = datetime('now', '+8 hour')
        </set>
        where   id = #{id,jdbcType=INTEGER} 
    </update>
    <update id="updateByPrimaryKey" parameterType="org.bluett.entity.TestSuite">
        update test_suite
        set 
            name =  #{name,jdbcType=VARCHAR},
            run_time =  #{runTime,jdbcType=INTEGER},
            timeout =  #{timeout,jdbcType=INTEGER},
            status =  #{status,jdbcType=INTEGER},
            description =  #{description,jdbcType=VARCHAR},
            update_time =  datetime('now', '+8 hour')
        where   id = #{id,jdbcType=INTEGER} 
    </update>
</mapper>
