<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.bluett.mapper.TestImageMapper">

    <cache eviction="LRU" flushInterval="60000" size="512" readOnly="true"/>

    <select id="selectTestImageByImageIds" resultType="testImage">
        select * from test_image where id in
        <foreach collection="list" item="testImageId" open="(" separator="," close=")">
            #{testImageId}
        </foreach>
    </select>

    <select id="selectTestImageByCaseIds" resultType="testImage">
        select * from test_image where case_id in
        <foreach collection="list" item="caseId" open="(" separator="," close=")">
            #{caseId}
        </foreach>
    </select>

    <select id="selectTestImageListDynamic" resultType="testImage">
        select * from test_image
        <where>
            <if test="testImage.id != null">and id=#{testImage.id}</if>
            <if test="testImage.path != null">and path like '%'||#{testImage.path}||'%'</if>
            <if test="testImage.similarity != null">and similarity=#{testImage.similarity}</if>
            <if test="testImage.confidence != null">and confidence=#{testImage.confidence}</if>
            <if test="testImage.caseId != null">and case_id=#{testImage.caseId}</if>
        </where>
        <if test="page != null">
            limit #{page.startIndex}, #{page.pageSize}
        </if>
    </select>

    <update id="updateById" parameterType="testImage">
        update test_image
        <set>
            <if test="path != null">path=#{path},</if>
            <if test="similarity != null">similarity=#{similarity},</if>
            <if test="confidence != null">confidence=#{confidence},</if>
            update_time=datetime('now', '+8 hour')
        </set>
        where id=#{id}
    </update>

    <insert id="insert" parameterType="testImage" useGeneratedKeys="true" keyProperty="id">
        insert into test_image(path, similarity, confidence, case_id, create_time, update_time)
        values(#{path}, #{similarity}, #{confidence}, #{caseId}, datetime('now', '+8 hour'), datetime('now', '+8 hour'))
    </insert>

    <insert id="insertBatch">
        insert into test_image(path, similarity, confidence, case_id, create_time, update_time)
        values
        <foreach collection="list" item="testImage" separator=",">
            (#{testImage.path}, #{testImage.similarity}, #{testImage.confidence}, #{testImage.caseId}, datetime('now',
            '+8 hour'), datetime('now', '+8 hour'))
        </foreach>
    </insert>

    <delete id="deleteById">
        delete from test_image where id=#{id}
    </delete>

    <delete id="deleteByIds">
        delete from test_image where id in
        <foreach collection="list" item="testImageId" open="(" separator="," close=")">
            #{testImageId}
        </foreach>
    </delete>
</mapper>