<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.bluett.mapper.TestCaseRelationMapper">

    <resultMap id="BaseResultMap" type="org.bluett.entity.TestCaseRelationDO">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="caseId" column="case_id" jdbcType="INTEGER"/>
            <result property="imageId" column="image_id" jdbcType="INTEGER"/>
            <result property="textId" column="text_id" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,case_id,image_id,
        text_id
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from test_case_relation
        where  id = #{id,jdbcType=INTEGER} 
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from test_case_relation
        where  id = #{id,jdbcType=INTEGER} 
    </delete>
    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="org.bluett.entity.TestCaseRelationDO" useGeneratedKeys="true">
        insert into test_case_relation
        ( id,case_id,image_id
        ,text_id)
        values (#{id,jdbcType=INTEGER},#{caseId,jdbcType=INTEGER},#{imageId,jdbcType=INTEGER}
        ,#{textId,jdbcType=INTEGER})
    </insert>
    <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="org.bluett.entity.TestCaseRelationDO" useGeneratedKeys="true">
        insert into test_case_relation
        <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="id != null">id,</if>
                <if test="caseId != null">case_id,</if>
                <if test="imageId != null">image_id,</if>
                <if test="textId != null">text_id,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
                <if test="id != null">#{id,jdbcType=INTEGER},</if>
                <if test="caseId != null">#{caseId,jdbcType=INTEGER},</if>
                <if test="imageId != null">#{imageId,jdbcType=INTEGER},</if>
                <if test="textId != null">#{textId,jdbcType=INTEGER},</if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="org.bluett.entity.TestCaseRelationDO">
        update test_case_relation
        <set>
                <if test="caseId != null">
                    case_id = #{caseId,jdbcType=INTEGER},
                </if>
                <if test="imageId != null">
                    image_id = #{imageId,jdbcType=INTEGER},
                </if>
                <if test="textId != null">
                    text_id = #{textId,jdbcType=INTEGER},
                </if>
        </set>
        where   id = #{id,jdbcType=INTEGER} 
    </update>
    <update id="updateByPrimaryKey" parameterType="org.bluett.entity.TestCaseRelationDO">
        update test_case_relation
        set 
            case_id =  #{caseId,jdbcType=INTEGER},
            image_id =  #{imageId,jdbcType=INTEGER},
            text_id =  #{textId,jdbcType=INTEGER}
        where   id = #{id,jdbcType=INTEGER} 
    </update>
</mapper>
