<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.bluett.mapper.TestTextMapper">

    <resultMap id="BaseResultMap" type="org.bluett.entity.TestText">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="caseId" column="case_id" jdbcType="INTEGER"/>
            <result property="text" column="text" jdbcType="VARCHAR"/>
            <result property="confidence" column="confidence" jdbcType="REAL"/>
            <result property="pointX" column="point_x" jdbcType="INTEGER"/>
            <result property="pointY" column="point_y" jdbcType="INTEGER"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,case_id,text,
        confidence,point_x,point_y,
        update_time,create_time
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from test_text
        where  id = #{id,jdbcType=INTEGER} 
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from test_text
        where  id = #{id,jdbcType=INTEGER} 
    </delete>
    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="org.bluett.entity.TestText" useGeneratedKeys="true">
        insert into test_text
        ( id,case_id,text
        ,confidence,point_x,point_y
        ,update_time,create_time)
        values (#{id,jdbcType=INTEGER},#{caseId,jdbcType=INTEGER},#{text,jdbcType=VARCHAR}
        ,#{confidence,jdbcType=REAL},#{pointX,jdbcType=INTEGER},#{pointY,jdbcType=INTEGER}
        ,#{updateTime,jdbcType=TIMESTAMP},#{createTime,jdbcType=TIMESTAMP})
    </insert>
    <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="org.bluett.entity.TestText" useGeneratedKeys="true">
        insert into test_text
        <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="id != null">id,</if>
                <if test="caseId != null">case_id,</if>
                <if test="text != null">text,</if>
                <if test="confidence != null">confidence,</if>
                <if test="pointX != null">point_x,</if>
                <if test="pointY != null">point_y,</if>
                <if test="updateTime != null">update_time,</if>
                <if test="createTime != null">create_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
                <if test="id != null">#{id,jdbcType=INTEGER},</if>
                <if test="caseId != null">#{caseId,jdbcType=INTEGER},</if>
                <if test="text != null">#{text,jdbcType=VARCHAR},</if>
                <if test="confidence != null">#{confidence,jdbcType=REAL},</if>
                <if test="pointX != null">#{pointX,jdbcType=INTEGER},</if>
                <if test="pointY != null">#{pointY,jdbcType=INTEGER},</if>
                <if test="updateTime != null">#{updateTime,jdbcType=TIMESTAMP},</if>
                <if test="createTime != null">#{createTime,jdbcType=TIMESTAMP},</if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="org.bluett.entity.TestText">
        update test_text
        <set>
                <if test="caseId != null">
                    case_id = #{caseId,jdbcType=INTEGER},
                </if>
                <if test="text != null">
                    text = #{text,jdbcType=VARCHAR},
                </if>
                <if test="confidence != null">
                    confidence = #{confidence,jdbcType=REAL},
                </if>
                <if test="pointX != null">
                    point_x = #{pointX,jdbcType=INTEGER},
                </if>
                <if test="pointY != null">
                    point_y = #{pointY,jdbcType=INTEGER},
                </if>
                <if test="updateTime != null">
                    update_time = #{updateTime,jdbcType=TIMESTAMP},
                </if>
                <if test="createTime != null">
                    create_time = #{createTime,jdbcType=TIMESTAMP},
                </if>
        </set>
        where   id = #{id,jdbcType=INTEGER} 
    </update>
    <update id="updateByPrimaryKey" parameterType="org.bluett.entity.TestText">
        update test_text
        set 
            case_id =  #{caseId,jdbcType=INTEGER},
            text =  #{text,jdbcType=VARCHAR},
            confidence =  #{confidence,jdbcType=REAL},
            point_x =  #{pointX,jdbcType=INTEGER},
            point_y =  #{pointY,jdbcType=INTEGER},
            update_time =  #{updateTime,jdbcType=TIMESTAMP},
            create_time =  #{createTime,jdbcType=TIMESTAMP}
        where   id = #{id,jdbcType=INTEGER} 
    </update>
</mapper>
