<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.bluett.mapper.TestTextMapper">
    <select id="selectTestTextById" resultType="testText">
        select * from test_text where id=#{id}
    </select>

    <select id="selectTestTextByIds" resultType="testText">
        select * from test_text where id in
        <foreach collection="list" item="testTextId" open="(" separator="," close=")">
            #{testTextId}
        </foreach>
    </select>

    <update id="updateById" parameterType="testText">
        update test_text
        <set>
            <if test="path != null">path=#{path},</if>
            <if test="similarity != null">similarity=#{similarity},</if>
            <if test="confidence != null">confidence=#{confidence},</if>
            update_time=datetime('now', '+8 hour')
        </set>
        where id=#{id}
    </update>

    <insert id="insert" parameterType="testText" useGeneratedKeys="true" keyProperty="id">
        insert into test_text(text, similarity, confidence, case_id, create_time, update_time)
        values(#{text}, #{similarity}, #{confidence}, #{caseId}, datetime('now', '+8 hour'), datetime('now', '+8 hour'))
    </insert>

    <insert id="insertBatch">
        insert into test_text(text, similarity, confidence, case_id, create_time, update_time)
        values
        <foreach collection="list" item="testText" separator=",">
            (#{testText.text}, #{testText.similarity}, #{testText.confidence}, #{testText.caseId}, datetime('now', '+8 hour'), datetime('now', '+8 hour'))
        </foreach>
    </insert>

    <delete id="deleteById">
        delete from test_text where id=#{id}
    </delete>

    <delete id="deleteByIds">
        delete from test_text where id in
        <foreach collection="list" item="testTextId" open="(" separator="," close=")">
            #{testTextId}
        </foreach>
    </delete>
</mapper>
